<div class="container-document">

  <div class="page-document">
    <div class="header">
      <div class="logo">
        <img src="assets/images/logo-rojo.png" alt="" srcset="">
      </div>
    </div>
    <h1>Privacy Policy</h1>
    <h3>1.General Considerations.</h3>
    <p>RED CARD Assist is an international travel assistance organization created for purposes of providing medical,
      legal,
      and personal assistance services, among others, in emergency situations during a trip.</p>
    <p>In order to guarantee the best travel assistance service, RED CARD Assist may obtain, collect, and/or store
      Personal
      Information from its Clients (hereinafter "Personal Information"), provided that such information is essential and
      necessary for the provision of the mentioned services.</p>
    <p>
      As responsible for the appropriate use and administration of such Personal Information, RED CARD Assist takes the
      sufficient security, technical, and administrative measures to keep the protection level required, thus assuring
      its Clients a due reliability and security in the management of the information.
    </p>
    <p>
      RED CARD Assist guarantees the privacy and confidentiality of the Personal Information provided by its Clients,
      through any of the sites of RED CARD Assist , e-mail, sales channel, or any other communication media, according
      to the
      applicable regulations.
    </p>
    <p>
      For purposes of fulfilling at the maximum extent possible the interests and expectations of the Clients, RED CARD
      Assist is seriously committed to the compliance with and observance of this Privacy, Confidentiality and Personal
      Information Protection Policy (hereinafter "Privacy Policy" or "Policy"), as regards the collection, use, storage,
      protection, and disclosure of data.
    </p>
    <h3>2. What Personal Information is collected?</h3>
    <p>
      RED CARD Assist collects and stores the Personal Information provided by its clients to contact and/or identify
      them,
      through the several channels enabled for such purpose.
    </p>
    <p>
      In turn, RED CARD Assist obtains and stores the Personal Information the Clients provide for purposes of: (i)
      hiring
      travel assistance services, (ii) navigating RED CARD Assist site, and/or logging in as user in MY RED CARD Assist,
      (iii)
      using the various online services, (iv) participating in promotions, contests, draws, and/or promotional and/or
      marketing campaigns, (v) contacting via e-mail, (vi) using the application for mobile phones and tablets, (vii)
      requiring by phone, at our customer service offices and/or through any of the channels enabled for purposes
      thereof any of the assistance services provided by RED CARD Assist.
    </p>
    <p>
      The Personal Information collected may include, without limitation, full name, mailing address, nationality, phone
      number, tax ID number, e-mail address, emergency contact, date, and/or destination.
      RED CARD Assist only collects the Personal Information freely and voluntarily provided by the Client, without
      storing
      any other information which has not been provided in such way.
    </p>
    <p>
      The Client may choose not to provide specific Personal Information, when deemed appropriate, to the extent that
      the lack of the mentioned information does not prevent the provision of the services relevant for the Client.
    </p>
    <p>
      RED CARD Assist may store once the phone call recordings, in order to perform quality operating audits, and
      guarantee
      the appropriate provision of the assistance service required by the Client. The call recordings will be retained
      for the time reasonably necessary, and then they will be erased.
    </p>

  </div>
  <div class="page-document">
    <div class="header">
      <div class="logo">
        <img src="assets/images/logo-rojo.png" alt="" srcset="">
      </div>
    </div>
    <P>
      With the reserves specified herein, and confidentiality, protection, and security in treatment being the guiding
      principle on Personal Information Matters, the Client consents expressly that such information may be transferred
      to external service providers of RED CARD Assist (e.g., healthcare providers, hospitals, clinics, legal advisors,
      airlines, etc.) for purposes of the provision of the assistance services hired.
    </P>
    <p>
      In every case that RED CARD Assist exceptionally discloses Personal Information to providers for the provision of
      the
      required service, such providers will be required to treat the information confidentially, pursuant to the
      regulation governing the protection of personal information, for the sole and exclusive purpose of providing the
      assistance services required.
    </p>
    <h3>3. What do we do with the Personal Information collected?</h3>
    <p>
      RED CARD Assist will store any Personal Information provided by the Client, for a successful provision of the
      assistance that may be required, and this provider expressly consents to the following:
    </p>
    <ol type="a">
      <li>
        <p>
          That RED CARD Assist stores any Personal Information obtained for, during, and/or as a consequence of the
          assistance
          required, in the Records duly submitted before the Controlling Authority.
        </p>
      </li>
      <li>
        <p>
          RED CARD Assist may assign, transfer, and/or provide the required Personal Information to: (i) external
          providers
          related to RED CARD Assist, contributing to the compliance with the purposes of the provision required; (ii)
          third
          parties who have signed confidentiality agreements with RED CARD Assist, provided that such third parties are
          linked, related, and/or connected to the fulfillment of the assistance required, and need the mentioned
          information for the provision of the services; (iii) the companies belonging to RED CARD Assist Group, its
          controlling and controlled companies, provided that this is required to fulfill the purpose therefor.
        </p>
      </li>
      <li>
        <p>
          RED CARD Assist may offer better services or provide information related to products already acquired.
        </p>
      </li>
      <li>
        <p>
          RED CARD Assist may contact them for purposes of: (i) Improving the business and promotional initiatives,
          customizing the contents, their submission and services; (ii) sending information or messages by e-mail on new
          services, advertisements, or promotions, banners of interest, news on RED CARD Assist, (iii) sending notices
          on
          contests and/or draws organized by RED CARD Assist.
        </p>
      </li>
      <li>
        <p>
          RED CARD Assist may share Personal Information with business partners, who may jointly offer products and
          services with the company. Such providers or business partners will be subject to confidentiality agreements
          forbidding the unauthorized use or disclosure of the Personal Information accessed by them. Access to the
          Personal Information by third parties will be governed by the opt-out policy, described below.
        </p>
      </li>
    </ol>
    <h3>4. How to access, update, or correct your personal information</h3>
    <p>
      The Personal Information will be stored, and Clients, as holders of said information stored, are empowered to
      enforce the right of access, rectification, cancellation, and/or elimination.
    </p>
    <p>
      In the event that the Client has any question and/or needs additional information as to this Policy, such person
      may contact RED CARD Assist at the customer service offices by phone, and/or through an e-mail sent to
      info@redcardassist.com
    </p>
    <P>
      The Personal Information will be addressed to the legal protection extent required to guarantee the security of
      such information, and avoid its alteration, loss, unauthorized treatment, or access.
    </P>


  </div>
  <div class="page-document">
    <div class="header">
      <div class="logo">
        <img src="assets/images/logo-rojo.png" alt="" srcset="">
      </div>
    </div>
    <h3>5. Opt out Policy</h3>
    <p>
      When the Client performs transactions or logs in as user in MY RED CARD Assist, or acquires any of the Travel
      Assistance Product of RED CARD Assist, such person will be given the option to receive promotional circular
      letters,
      messages, or e-mail alerts on offers. The Client may modify the choices at any time, through the e-mail settings,
      which will show the possibility to unsubscribe from the receipt of messages.
    </p>
    <h3>6. External Links</h3>
    <p>
      The RED CARD Assist site has links to other sites. RED CARD Assist is not responsible for the confidentiality or
      content of those sites. If you visit those sites, RED CARD Assist advises that you revise their confidentiality
      and privacy policies.
    </p>
    <hr>
    <p>
      The Client may choose not to provide information, assuming all the consequences arising from such decision.
      Upon reading this Privacy Policy, you agree and authorize RED CARD Assist to address the data that may have been
      obtained, according to the terms hereof, and within the framework of the specific regulation.
    </p>
    <p>
      Failure to formally notify the disagreement with these terms and conditions will imply the express consent of the
      Client to the extension, mode, and rules set in such terms.
    </p>
  </div>



</div>
