<div class="container">

  <div class="table-container">
    <div class="table-data info" >
        <table  >
          <thead>
            <tr>
              <th class="f-start">Tipo de Usuario</th>

            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let rol of list_roles">
              <td    class="f-start">
                <span>{{rol.rol_name}}</span>
              </td>
            </tr> -->
            <!-- <ng-container *ngIf="list_roles.length===0">
              <tr>
                <td class="f-start">
                  <span>No tiene rol asignado</span>
                </td>
              </tr>

            </ng-container> -->

          </tbody>
        </table>

      </div>

    </div>


</div>
