
<div class="container">

<form class="list" *ngIf="editCuponForm">
  <div class="top">
    <h2>Editar Cupon</h2>
   <div class="buttons">
    <button *ngIf="list_cupones" (click)="onUpdateState( list_cupones[0].status ==1 ? 2 : 1)" >
      {{list_cupones[0].status == 1? "Inhabilitar" : "Activar"}}
    </button>

    <button class="emitir" (click)="onEditDiscount()">
      Editar Cupon
    </button>
   </div>

  </div>

  <hr>
  <div class="field">
    <div class="title">
      <span>Tipo de Descuento</span>
    </div>


    <switch-descuento [typeDesc]="tipo_valor!" style="margin-top: 10px;"></switch-descuento>
  </div>




  <div class="field">
    <div class="title">
      <span>Valor</span>
    </div>
    <input type="text" name="valor" [formControl]="valor!">
  </div>

  <div class="row">
    <div class="field">
      <div class="title">
        <span>Fecha inicial</span>
      </div>
      <input-date [dateControl]="fecha_desde!"></input-date>
    </div>

    <div class="field">
      <div class="title">
        <span>Fecha final</span>
      </div>
      <input-date [dateControl]="fecha_hasta!"></input-date>
    </div>

    <div class="field">
      <div class="title">
        <span>Servivios</span>
      </div>
      <div class="servicios-data">
        <div class="table-container">
          <div class="table-data" [class.info]="hasLoaded">
            <div class="loading" [@loadingAnimation]="hasLoaded ? 'hide' : 'show'">
              <img src="assets/svg/loading.svg" alt="">
              <span>Espere un momento, cargando la informacion</span>
            </div>



            <table [@loadingAnimation]="hasLoaded ? 'show' : 'hide'">
              <thead>
                <tr>
                  <th class="f-start">Nombre</th>
                  <th>costo</th>
                  <th>cobertura</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let servicio of list_servicios">
                  <td (click)="selectItem(servicio)" class="f-start">
                    <div class="item">
                      <input [checked]="servicio.isSelected" class="checkbox" type="checkbox">
                      <span>{{servicio.servicio}}</span>
                    </div>
                  </td>
                  <td>{{servicio.precio_base | currency:'USD':'$':'1.2-2' }}</td>
                  <td>{{servicio.cobertura_global | currency:'USD':'$':'1.2-2' }}</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>



</form>

</div>
