.container{
  display: flex;
  width: 100%;
  height: calc(100vh - var(--main-header-height));
  flex-direction: column;
  padding: 10px 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.container::-webkit-scrollbar{
  width: 7px;
}
.container::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.container::-webkit-scrollbar-thumb{
  background: gray;

  border-radius: 25px;
}
.container::-webkit-scrollbar-thumb:hover{
  background:gray;
}


.top{
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.top .title{
  font-size: 16px;
  font-weight: bold;
}


.title span{
  padding-left: 20px;
}

hr{
  margin: 10px;
  width: 100%;
  border:  1px solid gainsboro;
}

.buttons button{
  margin: 10px;
  padding: 10px 20px;
  border:  none;
  border-radius: 10px;
  border: 1px solid var(--main-color);
  background-color: #f04b46;
  color: white;
  cursor: pointer;
}

.buttons button:hover{
  background-color: var(--main-color);
}

button span{
  padding-left: 20px;
}


.info{
  padding: 0px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}


.field{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


.field label{
  font-size: 14px;
  font-weight: bold;
}


.field input,
.field select
{
  margin-top: 10px;
  width: 90%;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid gray;
  outline: none;
}


.field input:focus,
.field select{
  border:  1px solid gray;
}



.bottom{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.button-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

button{
  border: none;
  font-size: 16px;
  border-radius: 8px;
  background-color: #f04b46;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

button:hover{
  background-color: var(--main-color);
}



.table-data{
  width: 100%;
  height: 500px;
  overflow: auto;
  border-radius: 2px;
  border: 1px solid #ccc;
  text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .3s ease-in-out;
    position: relative;


}

.table-data.info{
  display: block;
}

.table-data .loading {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.loading span{
  text-align: center;
}

.table-selector{
  width: 100%;
  height: 70px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 10px;

}



table{
  border-spacing: 0px;
}

table td {
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
}

tbody tr:hover {
  background-color: #ccc;
  border: 1px solid var(--border-color);
  cursor: pointer;

}

table th{
  padding: 20px 0;
  border-bottom: 1px solid black;
}


table {
  width: 100%;




}


thead {
  position: sticky;
  top: 0;
  background-color: var(--body-bg);

}
table thead tr {
  text-align: left;
}


table th
{
   font-size: small;
   text-align: start;
   padding-left: 20px;

   border-bottom: 1px solid var(--border-color);
}



table td{
 text-align: start;
 font-size: small;
 padding-left: 20px;
}

/* tbody tr, td{
  background-color: #ccc;
  border: 1px solid #ccc;
} */

td.link{
  color: var(--main-color);
  text-decoration: none;
  cursor: pointer;
}

td.link span {
  color: var(--main-color);
  font-size: 15px;
  font-weight: bold;
}

.servicios-data{
  width: 100%;
}

.item{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}


.field input{
  width: fit-content;
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid gray;
    outline: none;
    margin: 20px 20px;
}




@media (max-width : 1024px) {
  .container{
    width: 100%;
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 30px;
    padding-bottom: 70px;
  }



  .top{
    flex-direction: column;
  }

  .buttons button {
    font-size: 12px;
  }


  .field{
    flex-direction: column;
    width: 100%;
  }

  .info{
    grid-template-columns: 1fr;
  }


}


