<form class="container" [formGroup]="formOffice"  (ngSubmit)="generateOficce()" >
  <div class="top">
    <div class="title">
      <i class="fa-regular fa-building fa-xl"></i>
      <span style="padding-left: 20px;">Agregar Nueva Oficina</span>
    </div>



  </div>
  <hr style="width: 90%;margin: 10px; border: 1px solid gainsboro;">
  <div  class="info">

    <div class="left">
      <div class="field">
        <label for="oficina_name">Oficina</label>
        <input type="text" id="oficina_name" formControlName="oficina_name" placeholder="Oficina01">
      </div>

      <div class="field">
        <label for="pais">Pais</label>
        <input type="text" name="pais" formControlName="pais" placeholder="Bolivia">
      </div>
      <div class="field">
        <label for="ciudad">Ciudad</label>
        <input type="text" name="ciudad" formControlName="ciudad" placeholder="Santa Cruz">
      </div>

      <div class="field">
        <label for="encargado">Encargado</label>
        <select name="encargado" formControlName="encargado" id="1">
          <option value="1">Luis</option>
          <option value="2">Vale</option>
          <option value="3">Rosa</option>
          <option value="4">Ximena</option>
        </select>
      </div>

    </div>
    <div class="right">
      <div class="field">
        <label for="telefono">Telefono</label>
        <input type="text" name="telefono" formControlName="telefono" placeholder="78140498">
      </div>
      <div class="field">
        <label for="email">Correo Electronico</label>
        <input type="text" name="email" formControlName="email"  placeholder="user@redcardassist.com">
      </div>
      <div class="field">
        <label for="direccion">Direccion</label>
        <input type="text" name="direccion" formControlName="direccion" placeholder="Av. San Martin">
      </div>
      <div class="field">
        <label for="aniversary">Aniversario (Opcional)</label>
        <input type="date" name="aniversary" formControlName="aniversary">
      </div>




    </div>

  </div>
  <div class="bottom">
    <button type="submit">
      <span>Generar nueva oficina</span>
    </button>

    <div class="container-tree">
      <tree-root #tree style="background-color: white; padding: 5px;"  [nodes]="nodes" [options]="options">
        <ng-template #treeNodeTemplate let-node let-index="index">
          <div class="node-item" style="margin: 0;">
            <img src="../assets/svg/domain_FILL0_wght400_GRAD0_opsz24.svg" alt="">
            <span>{{ node.data.name }}</span>

          </div>
          <!-- <button (click)="go($event)">Custom Action</button> -->
        </ng-template>

      </tree-root>

    </div>


  </div>


</form>
