<div class="container">
  <div class="top">
    <div class="title">
      <!-- <i class="fa-solid fa-earth-americas  fa-xl" style="color: var(--main-color);"></i> -->

      <span>Lista de Siniestros</span>
    </div>
  </div>

  <filter style="width: 100%;" (onFilter)="onFilter($event)" ></filter>
  <hr style="width: 100%;">

  <button class="export" *ngIf="siniestros.length>0" >
    <i class="fa-solid fa-file-csv"></i>
    <span>Exportar</span>

  </button>




  <div class="info">
    <div class="table-data info ">
      <table>
        <tr>
          <th>Codigo Siniestro</th>
          <th>Codigo Poliza</th>
          <th>Fecha Salida</th>
          <th>Fecha Retorno</th>
          <th>Fecha Siniestro</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Pais Ocurrencia</th>
          <th>Ciudad Ocurrencia</th>

        </tr>


        <tr *ngFor="let siniestro of siniestros" [routerLink]="'../'+ siniestro.venta_id "  [queryParams]="{ poliza_id : siniestro.poliza_id, beneficiario_id : siniestro.beneficiario_id , siniestro_id : siniestro.siniestro_id}">
          <td>{{siniestro.siniestro_id}}</td>
          <td>{{siniestro.poliza_id}}</td>
          <td>{{siniestro.fecha_salida.split('T')[0]}}</td>
          <td>{{siniestro.fecha_retorno.split('T')[0]}}</td>
          <td>{{siniestro.fecha_siniestro.split('T')[0]}}</td>
          <td>{{siniestro.primer_nombre}}</td>
          <td>{{siniestro.primer_apellido}}</td>
          <td>{{siniestro.pais_ocurrencia}}</td>
          <td>{{siniestro.ciudad_ocurrencia}}</td>

        </tr>








      </table>


    </div>



  </div>







</div>
