
.top{
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container{
  display: flex;
  flex-direction: column;
  height:  calc(100vh - 250px);
  overflow-y: auto;
}


.container::-webkit-scrollbar {
  width: 0.3em;
  height: 0.1em;
}

.container::-webkit-scrollbar-track {
  background: #efedf7;;
  border-radius: 50vw;
  margin-block: 0.1em;
}

.container::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
  border-radius: 10px;
}



 .input-field{
  position: relative;
  /* width: max-content; */
}

.input-field svg{
  position: absolute;
  right: 20px;
  bottom: 10px;
  fill: var(--main-color);
}

 input{
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  border: 1px solid gainsboro;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  font-weight: lighter;

}

 input:focus{
  border: 1px solid gainsboro;
}

.top button{
  font-size: 12px;
  padding: 10px 20px;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}





.top .title span{
  font-size: 20px;
  font-weight: bold;
}



a{
  text-decoration: none;
  color: var(--text-color);
}
a:link {
  color: var(--text-color);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-color);
  background-color: transparent;
}

a:active {
  color: var(--text-color);
  background-color: transparent;
}
