<div class="container" [ngClass]="
  {
    'selected' : servicioUi.isSelected,

  }

"  [class.selected]="servicioUi.isSelected"   >
  <div class="top"  [class.tn]="servicioUi.status == 2"  (click)="changeState()">
    <span>Plan</span>
    <span class="plan-name">{{servicioUi.servicio}}</span>
    <div *ngIf="servicioUi.status == 2" class="tag">
      <span>TARIFA NETA</span>
    </div>
    <span>Precio por Persona</span>
    <span style="font-size: 20px; font-weight: bold;"  [class.discount]="getDiscount(servicioUi)" >{{ servicioUi.precioSelected | currency }}</span>
    <span *ngIf="priceWithDiscount>0 && servicioUi.precioSelected != priceWithDiscount"  style="font-size: 20px; font-weight: bold;"  >{{priceWithDiscount | currency}}</span>
  </div>
  <div class="info"  >
    <div class="field" >
      <span class="text-field" >Cobertura de:</span>
      <span class="price">{{servicioUi.cobertura_global | currency}}</span>
    </div>

    <div class="field">
      <span >Rango de Edad</span>
      <div class="price">
        <span>{{servicioUi.edad_base}}</span>
        <span>-</span>
        <span>{{servicioUi.edad_limite}}</span>
      </div>
    </div>


    <div class="field">
      <span  class="see-more" (click)="openModal(modalTemplate)"   >
        Ver Mas Detalles

      </span>
      <span  class="see-more" (click)="downloadPdf()"   >
        Descargar

      </span>
      <span class="see-more"  *ngIf="!servicioUi.isSelected; else selected" (click)="changeState()" >
        Seleccionar
      </span>
      <ng-template #selected >
        <span  class="see-more active" (click)="changeState()">
          Seleccionado
        </span>
      </ng-template>
    </div>

  </div>

</div>

<ng-template  #modalTemplate>
  <!-- <list-cobertura></list-cobertura> -->
  <!-- <modal-plan-details  *ngIf="isOpenDetails"></modal-plan-details> -->
</ng-template>
