<div class="top">
  <div class="title">
    <span>Nuevo Usuario</span>
  </div>



</div>
<div class="info">
  <div class="left">
    <div class="field">
      <label for="">Username</label>
      <input type="text">
    </div>
    <div class="field">
      <label for="">Nombre(s)</label>
      <input type="text">
    </div>
    <div class="field">
      <label for="">Apellido(s)</label>
      <input type="text">
    </div>
    <div class="field">
      <label for="">email</label>
      <input type="text">
    </div>




  </div>
  <div class="right">
    <div class="field">
      <label for="">Contraseña</label>
      <input type="text">
    </div>
    <div class="field">
      <label for="">Confirmacion contraseña</label>
      <input type="text">
    </div>
    <div class="field">
      <label for="">Telefono</label>
      <input type="text">
    </div>

  </div>

</div>
