<div class="container">

  <form class="list" [formGroup]="formGroup!">
    <div class="top">
      <h2>Crear Descuento</h2>
      <button class="emitir" (click)="onLoadForm()">
        Crear Descuento
      </button>
    </div>
    <hr>
    <div class="field">
      <div class="title">
        <span>Tipo de Descuento</span>
      </div>


    </div>


    <switch-descuento [typeDesc]="tipo" style="margin-top: 10px;"></switch-descuento>


    <div class="field">
      <div class="title">
        <span>Cantidad</span>
      </div>
      <input type="text" name="cantidad" formControlName="cantidad" placeholder="0">

    </div>

    <div class="field">
      <div class="title">
        <span>Valor</span>
      </div>
      <input type="text" name="valor" formControlName="valor" placeholder="0">
    </div>

    <div class="row">
      <div class="field">
        <div class="title">
          <span>Fecha inicial</span>
        </div>
        <input-date [dateControl]="fecha_desde"></input-date>
      </div>

      <div class="field">
        <div class="title">
          <span>Fecha final</span>
        </div>
        <input-date [dateControl]="fecha_hasta"></input-date>
      </div>
    </div>



  </form>


</div>
