<form class="container" *ngIf="userForm" [formGroup]="userForm!" (ngSubmit)="submitForm()">
  <div class="top">
    <h2>Usuario</h2>


    <div class="buttons">
      <button type="button" (click)="onUpdateState( user!.status ==1 ? 2 : 1)">{{ user?.status == 1 ? "Deshabilitar" :
        "Activar" }}</button>


      <button type="submit">Actualizar +</button>
    </div>

  </div>
  <hr>
  <div class="form">
    <div class="field">
      <label for="username">Username</label>
      <input readonly type="text" placeholder="username" formControlName="username" name="username">
    </div>
    <div class="grid-1-2">
      <div class="left">
        <div class="field">
          <label for="first_name">Nombres</label>
          <input type="text" placeholder="nombre(s)" formControlName="first_name" name="first_name">
        </div>
        <div class="field">
          <label for="email">Emails</label>
          <input type="text" placeholder="email" formControlName="email" name="email">
        </div>
        <div class="field">
          <label for="password">Password</label>
          <input type="text" placeholder="REQUERIDO" formControlName="password" name="password">
        </div>
        <div class="field">
          <label>Oficinas</label>
          <select-office (onselectDestiny)="onSelectOffice($event)"></select-office>
          <div class="list-location">
            <location-oficce *ngFor="let locat of oficinasSelected ; let i = index" [location]="locat" [position]="i"
              (selectionChanged)="changeOffices($event)"></location-oficce>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="field">
          <label for="last_name">Apellido(s)</label>
          <input type="text" placeholder="apellido(s)" formControlName="last_name" name="last_name">
        </div>
        <div class="field">
          <label>Telefono</label>
          <input-telf [telfControl]="telf_user"></input-telf>
        </div>
        <div class="field">
          <label for="confirm">Confirm Password</label>
          <input type="text" placeholder="REQUERIDO" formControlName="confirm" name="confirm">
        </div>

        <div class="field">
          <label for="">Roles</label>
          <select-rol (onselectDestiny)="onSelectRol($event)"></select-rol>
          <div class="list-location">
            <location-rol *ngFor="let locat of rolesSelectd ; let i = index" [location]="locat" [position]="i"
              (selectionChanged)="changeRoles($event)"></location-rol>
          </div>
        </div>
      </div>
    </div>


  </div>
