
.top{
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container{
  display: flex;
  flex-direction: column;
  height:  calc(100vh - 250px);
  overflow-y: auto;
  padding: 40px 0px;
}

tree-root{
  overflow-y: auto;
  height: fit-content;
}


.container::-webkit-scrollbar {
  width: 0.3em;
  height: 0.1em;
}

.container::-webkit-scrollbar-track {
  background: #efedf7;;
  border-radius: 50vw;
  margin-block: 0.1em;
}

.container::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
  border-radius: 10px;
}

a.active .node-item{
  background-color: gainsboro;
  padding-right: 20px;
}



 .input-field{
  position: relative;
  /* width: max-content; */
}

.input-field svg{
  position: absolute;
  right: 20px;
  bottom: 10px;
  fill: var(--main-color);
}

 input{
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  border: 1px solid gainsboro;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  font-weight: lighter;

}

 input:focus{
  border: 1px solid gainsboro;
}




button{
  margin: 10px;
  padding: 10px 20px;
  border:  none;
  border-radius: 10px;
  border: 1px solid var(--main-color);
  background-color: #f04b46;
  color: white;
  cursor: pointer;
}

button:hover{
  background-color: var(--main-color);
}



.top .title span{
  font-size: 20px;
  font-weight: bold;
}



a{
  text-decoration: none;
  color: var(--text-color);
}
a:link {
  color: var(--text-color);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-color);
  background-color: transparent;
}

a:active {
  color: var(--text-color);
  background-color: transparent;
}


@media (max-width: 1024px) {
  .top{
      flex-direction: column;
      width: 100%;
      height: fit-content;
  }

}
