.descuento{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 20px;
  border: 1px solid  gainsboro;
  border-radius: 8px;
  width: fit-content;
  margin: 20px;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 40px;
  position: relative;
}

.field{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

.field .data{
  font-size: 15px;
  font-weight: bold;
  padding-left: 10px;

}

.status{
  position: absolute;
  top: 5px;
  left: 20px;
  padding: 5px 10px;
  border: 1px solid gainsboro;
  border-radius: 4px;
  font-weight: bold;
}

.active{
  border: 1px solid green;
  color:  green;
}

.innactive {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
