<form  [formGroup]="rolForm"  (ngSubmit)="submitForm()" class="container">
  <div class="list">
    <h2>Agregar Rol</h2>
    <hr>

    <div class="field">
      <label>
        Nombre
      </label>
      <input type="text" formControlName="rol_name" name="rol_name" placeholder="Admin">
    </div>
    <div class="field">
      <label>
        Accesos de seguridad
      </label>

      <rol-structure  [inputControl]="inputControl" ></rol-structure>
    </div>











  </div>


  <div class="actions">
    <h2>Acciones</h2>
    <hr>
    <button  type="submit"   class="emitir active ">
      Crear Rol
    </button>


    <div class="loading-container" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">

      <loading-process [loading]="isLoading"></loading-process>
    </div>





  </div>


</form>
