


<div   class="sidebar" [class.active]="display_sidenav"  #sidebar>
  <div class="sidebar-logo" (click)="toggleSidenav()">
      <div class="logo">
        <span>RedCard assist</span>
      </div>

      <button class="sidebar-close" id="sidebar-close" style="background: none;" >
        <i class="fa-regular fa-square-caret-left " style="background: none; color: white;"></i>
      </button>
  </div>
  <!-- <div class="sidebar-user">
      <div class="sidebar-user-info">
          <img src="../assets/images/user-image.jpg" alt="User picture" class="profile-image">
          <div class="sidebar-user-name">
              Red Card
          </div>
      </div>
      <button (click)="logout()" class="btn btn-outline">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M200 936q-33 0-56.5-23.5T120 856V296q0-33 23.5-56.5T200 216h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585 434l55-58 200 200-200 200Z"/></svg>
      </button>
  </div> -->
  <!-- SIDEBAR MENU -->
  <ul class="sidebar-menu overflow-scroll" style="padding-bottom: 100px;">
      <li class="sidebar-submenu" *ngFor="let menuItem of menuItemsFiltered ">
          <div class="sidebar-menu-dropdown" style="margin-left: 10px; border-radius: 10px 0px 0px 10px;"  (click)="toggleDropdown(menuItem)">
            <div class="icon-left" style="padding: 0px 10px 0px 0px; width: 40px; display: flex; align-items: center; justify-content: center;">
              <i class={{menuItem.icon}}  style="color: #e30e27;"></i>
            </div>
            <span style="cursor: pointer; color: var(--text-color); font-size: 12px;"  >{{ menuItem.label  | uppercase }}</span>
            <div class="dropdown-icon">
                <i class='bx bx-category'></i>
            </div>
          </div>
          <hr>
          <ul class="sidebar-menu sidebar-menu-dropdown-content" [style.height]="menuItem.dropdownHeight" [class.active]="menuItem.isDropdownOpen">
            <li style="margin: 10px 0px 0px 0px;" *ngFor="let subMenuItem of menuItem.submenuItems">

              <a routerLinkActive="active" style="color: var(--text-color); cursor: pointer; margin-left: 40px; padding-left: 10px; border-radius: 10px 0px 0px 10px;" class="link-submenu" routerLink="{{subMenuItem.route}}" href="#" (click)="toggleSidenav()"  >
                <i class={{subMenuItem.icon}} ></i>



                <span style="font-size: 12px;">{{ subMenuItem.label | uppercase }}</span>
              </a>
            </li>
          </ul>
        </li>


  </ul>


</div>


<div class="sidebar-backdrop" [class.active]="display_sidenav" (click)="toggleSidenav()">

</div>
