<div class="container">
  <div class="list">
    <div class="title">
      <h2>Lista de Descuentos</h2>
      <hr>
      <input type="text" placeholder="Buscar">


      <div class="information-container" *ngIf="hasLoaded">
        <app-popup [@loadingAnimation]="hasLoaded ? 'show' : 'hide'" [message]="'Igualmente se puede editar la informacion'" [duration]="3000" ></app-popup>
      </div>




      <div class="table-container">

        <div class="table-data" [class.info]="hasLoaded" >
          <div class="loading" [@loadingAnimation]="hasLoaded ? 'hide' : 'show'">
            <img
            src="assets/svg/loading.svg"
            alt=""
            >
            <span>Espere un momento, cargando la informacion</span>
          </div>


          <table [@loadingAnimation]="hasLoaded ? 'show' : 'hide'" >
            <thead>
              <tr>
                <th>descuento_id</th>
                <th>Tipo</th>
                <th>Desde</th>

                <th>Valor</th>
                <th>fecha_desde</th>
                <th>fecha_hasta</th>
                <th></th>


              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let descuento of descuentos">

                <td class="link"  (click)="showDetails(descuento.descuento_id)" >
                  <span>
                    {{descuento.descuento_id}}
                  </span>
                </td>
                <td  (click)="showDetails(descuento.descuento_id)" *ngIf="descuento.tipo_valor===1">{{'%'}}</td>
                <td (click)="showDetails(descuento.descuento_id)"  *ngIf="descuento.tipo_valor===2">{{'Monetario' }}</td>
                <td (click)="showDetails(descuento.descuento_id)" >{{descuento.cantidad}}</td>
                <td (click)="showDetails(descuento.descuento_id)" >{{descuento.valor}}</td>
                <td (click)="showDetails(descuento.descuento_id)">{{descuento.fecha_desde | extractDate}}</td>
                <td (click)="showDetails(descuento.descuento_id)">{{descuento.fecha_hasta | extractDate }} </td>
                <td  class="link"  (click)="editDetails(descuento.descuento_id)" >
                  <span>Editar</span>
                </td>



              </tr>

            </tbody>
          </table>

        </div>

      </div>
    </div>


  </div>
  <div class="actions">






    <div class="actions">
      <h2>Acciones</h2>
      <hr>

      <div class="buttons">


        <a class="emitir"  routerLink="../create">
          Crear Descuento
        </a>
      </div>

      <hr>

    </div>
  </div>



</div>
