<div class="container">

  <div class="top">
    <i class="fa-solid fa-person-burst"></i>
    <span>Listado de Beneficiarios</span>
  </div>
  <hr>

  <div class="list">


    <div class="field" (click)="changeUrlChild(1)">
      <div class="content">
        <span>Cod: 78140498</span>
        <span>Walter Ronny Ibañez Saucedo</span>

      </div>
      <div class="tail">
        <i  class="fa-solid fa-hand-point-up"></i>


      </div>
    </div>
    <div class="field" (click)="changeUrlChild(2)">
      <div class="content">
        <span>Cod: 78140498</span>
        <span>Walter Ronny Ibañez Saucedo</span>

      </div>
      <div class="tail">
        <i  class="fa-solid fa-hand-point-up"></i>


      </div>
    </div>
    <div class="field" (click)="changeUrlChild(3)">
      <div class="content">
        <span>Cod: 78140498</span>
        <span>Walter Ronny Ibañez Saucedo</span>

      </div>
      <div class="tail">
        <i class="fa-solid fa-hand-point-up"></i>


      </div>
    </div>
    <div class="field"  (click)="changeUrlChild(4)">
      <div class="content">
        <span>Cod: 78140498</span>
        <span>Walter Ronny Ibañez Saucedo</span>

      </div>
      <div class="tail">
        <i  class="fa-solid fa-hand-point-up"></i>


      </div>
    </div>




  </div>

</div>
