.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px;
  width: 100%;
  height: calc(100vh - 80px);
  overflow-y: auto;
}

.top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.actions{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}


button {
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #f04b46;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

button:hover {
  transition: all 0.3s ease-in-out;
  background-color: var(--main-color);
}

button.anular{
  background-color: #c19a0f;
}


button.anular:hover{
  background-color: rgb(223, 179, 19);
}


button.active{
  background-color: #1f9c06;
}
button.active:hover{
  background-color: #2ac90a;
}


button.congelar{
  background-color: rgb(31, 132, 98);
}

button.congelar:hover{
  background-color: rgb(14, 145, 145);
}

button.refund{
  background-color: plum;
}
button.refund:hover{
  background-color: pink;
}


hr{
  width: 100%;
  border: 1px solid var(--text-color);
  margin: 20px 0px;
}

.info{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;

  padding: 20px;

}

.info > * {
  width: 30%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  height: fit-content;
  border-radius: 8px;
}


.info> *:hover{
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width:1024px) {

  h1{
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0px;
  }

  .container{
    flex-direction: column-reverse;
    padding: 40px 10px;
  }

  .info > * {
    width: 100%;
    padding: 0px;
  }

  .actions{
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;

  }

  .top{
    flex-direction: column;
    padding-bottom: 80px;
  }

  button {
    width: 100%;
  }

}
